.doctors-content {
    background-color: #d3f3ff;
    overflow: auto;
}

.searchbar {
    width: 100%;
    max-width: 320px;
    background-color: #ffffff;
    border: 1px solid #808080;
    outline: none;
    padding: 3px;
}

.specializations-bar {
    outline: none;
    border: 1px solid #808080;
    padding: 3px;
}

.filters-clear-button {
    outline: none;
    border: 1px solid #808080;
    background-color: #ffffff;
}



.doctors-list {
    list-style-type: none;
    padding: 0px;
}