.home-container {
    background-image: url("https://res.cloudinary.com/dmlk7cxkm/image/upload/v1754123144/Screenshot_2025-08-02_133744_ogmcmf.png");
    background-size: cover;

    @media (width > 768px) {
    } 
}

.doctor-img {
    width: 65%;
    max-width: 300px;
    border-radius: 50%;
}

.home-text {
    font-family: "Roboto";
    @media (width <= 900px) {
        text-align: center;
    }
}

.home-text-tagline {
    color: #f8f9fb;
    font-size: 11px;
    word-spacing: 1px;
}
